BasedOnStyle: Google

# This keeps the { on the same line
BreakBeforeBraces: Attach

# Indentation and Spacing
IndentWidth: 4
ColumnLimit: 100
TabWidth: 4
UseTab: Never

# Pointer alignment (int* x)
DerivePointerAlignment: false
PointerAlignment: Left

# Modern C++ logic
Standard: Latest
AccessModifierOffset: -4

# Prevent single-line "hidden" logic
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Constructor logic
PackConstructorInitializers: NextLine